Source: metapackage-google-gigamp
Section: misc
Priority: optional
Maintainer: Ying-Chun Liu (PaulLiu) <liupa@google.com>
Uploaders: Ying-Chun Liu (PaulLiu) <paulliu@debian.org>,
           Wei-Chung Hsu <weihsu@google.com>,
           Ying-Chun Liu (PaulLiu) <paul.liu@linaro.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://gitlab.com/LinaroLtd/googlelt/gigabyte-ampere-cuttlefish-installer

Package: metapackage-google-gigamp
Architecture: any
Multi-Arch: foreign
Depends: dkms,
         libc6-dev,
         libglvnd-dev,
         lzop,
         ntpsec,
         pkgconf,
         ${misc:Depends},
         ${shlibs:Depends}
Description: metapackage for Gigabyte Ampere server
 This package depends on and install configs that the Gigabyte
 Ampere server needs.
